{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Prices</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record['symbol'] }}</td>
                <td>{{ record['shares'] }}</td>
                <td>{{ record['price'] }}</td>
                <td>{{ record['transaction_date'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
