{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus="current-password" class="form-control mx-auto w-auto" name="old-password" placeholder="Enter old password" type="old-password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autocomplete="new-password" name="new-password" placeholder="Enter new password" type="password" required>
        <p></p>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autocomplete="new-password" name="confirmation" placeholder="Confirm new password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
