{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autocomplete="new-password" name="password" placeholder="Password" type="password" required minlength="8">
        <p></p>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autocomplete="new-password" name="confirmation" placeholder="Confirmation" type="password" required minlength="8">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
